body {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.header-layout {
  display: none;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 22px;
}

p {
  padding: 0 25px;
  color: hsl(0, 0%, 75%);
}

.nav-button {
  display: none;
}

.nav-btn-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 70px;
}

.nav-desktop-layout {
  display: flex;
  flex-direction: row;
}

.nav-desktop-layout > a {
  color: hsl(257, 7%, 63%);
  text-decoration: none;
  padding: 20px 10px;
  font-weight: 600;
}
.nav-desktop-layout > a:hover {
  color: hsl(255, 5%, 34%);
}

.modal-bg {
  display: none;
}

.first-img {
  display: none;
}

.first-img-desktop {
  display: initial;
  float: right;
  width: 40%;
  height: 40%;
  min-width: 350px;
  min-height: auto;
}

.get-started-btn,
.shorten-it-btn {
  color: #fff;
  background-color: hsl(180, 66%, 49%);
  border: none;
  border-radius: 35px;
  padding: 15px 35px;
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}
.shorten-it-btn {
  font-size: 20px;
  border-radius: 5px;
  margin: 8px 23px 23px 23px;
  z-index: 100;
}

.get-started-btn:hover,
.shorten-it-btn:hover {
  background-color: hsl(180, 75%, 42%);
}

.shorten-it-input {
  font-size: 20px;
  border-radius: 5px;
  padding: 15px 35px;
  border: none;
  margin: 23px 23px 8px 23px;
  z-index: 100;
}

.shorten-it-input::placeholder {
  font-weight: 600;
  color: hsl(0, 0%, 75%);
}

.shorten-form {
  /* background-color: hsl(257, 27%, 26%); */
  border-radius: 10px;
}

.page-info-part-layout {
  background-color: #f4f4f4;
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.page-info-part-layout-div {
  padding: 25px;
}

.advanced-statistic-desktop {
  max-width: 500px;
}

.info-layout {
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon-layout {
  width: 40px;
  height: 40px;
  background-color: hsl(257, 27%, 26%);
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 60px;
  position: absolute;
  top: -50px;
}

.bg-boost-layout {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.footer-layout {
  background-color: hsl(255, 11%, 22%);
  padding: 30px;
  color: #fff;
}

.footer-title {
  padding-top: 15px;
  font-size: 40px;
}

.column-5 > .link {
  height: 30px;
  width: auto;
  padding: 12px;
  padding-top: 30px;
}

.column-5 > a > img {
  padding: 3px;
}
.column-5 > a > img:hover {
  border-radius: 3px;
  background-color: #d4d2d2;
}

.link {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.link:hover {
  color: #d4d2d2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
}

.close {
  color: #656565;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .page-info-part-layout-div {
    padding: 25px 10px;
  }

  .shorten-it-btn {
    margin: 8px 15px 15px 15px;
    padding: 15px 20px;
    font-size: 16px;
  }

  .shorten-it-input {
    padding: 15px 20px;
    margin: 15px 15px 8px 15px;
    font-size: 16px;
  }

  .info-layout {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 900px) {
  body {
    text-align: center;
  }

  .nav-btn-desktop {
    display: none;
  }

  .header-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
  }

  .nav-button {
    display: initial;
    border: none;
    background-color: #fff;
    cursor: pointer;
    z-index: 100;
  }
  .nav-button:hover {
    background-color: hsl(0, 0%, 93%);
    border-radius: 8px;
  }

  .nav-mobile-1 {
    width: 30px;
    height: 4px;
    background-color: hsl(0, 0%, 60%);
  }

  .nav-mobile-2 {
    width: 30px;
    height: 6px;
    background-color: #fff;
  }

  .modal-bg {
    display: initial;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -80px;
    left: 0;
    cursor: pointer;
  }

  #navigation-mobile {
    position: absolute;
    height: auto;
    top: 100px;
    left: 25px;
    width: calc(100% - 50px);
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    padding: 30px 0;
    cursor: auto;
  }

  #navigation-mobile > h3 {
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
  }

  hr {
    border: 1px solid #fff;
    opacity: 0.25;
    float: center;
    width: 80%;
  }

  .first-section-mobile {
    padding-bottom: 150px;
  }

  .first-img-desktop {
    display: none;
  }

  .first-img {
    display: initial;
    float: right;
    width: 90%;
    height: 90%;
    padding: 30px 0;
  }

  .main-title {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    padding: 0 25px;
  }

  .shorten-form {
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: hsl(257, 27%, 26%);
  }

  .bg-shorten-mobile {
    width: 70%;
    height: 70%;
    right: 0;
    position: absolute;
    border-top-right-radius: 10px;
  }

  .bg-shorten-desktop {
    display: none;
  }

  .page-info-part-layout-div {
    position: absolute;
    top: -180px;
  }

  .info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info-container-div {
    padding: 0 25px;
  }

  .blue-line {
    display: flex;
    flex-direction: column;
    width: 8px;
    height: 100px;
    background-color: hsl(180, 66%, 49%);
  }

  .bg-boost-desktop {
    display: none;
  }

  .bg-boost-mobile {
    display: initial;
    width: 100%;
    height: 100%;
    background-color: hsl(257, 27%, 26%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }
}

@media only screen and (min-width: 901px) {
  .first-section-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
  }

  .first-section-mobile {
    padding: 70px;
  }

  .main-title {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    max-width: 500px;
  }

  .desktop-p {
    padding: 0;
  }

  .get-started-btn {
    font-size: 18px;
    padding: 10px 25px;
  }

  .sign-up-btn-desktop {
    padding: 8px 20px;
  }

  .bg-shorten-mobile {
    display: none;
  }

  .bg-shorten-desktop {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: -1;
  }

  .shorten-form {
    position: relative;
    width: 100vw;
    width: calc(100vw - 140px);
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: hsl(257, 27%, 26%);
    z-index: 0;
  }

  .page-info-part-layout-div {
    position: absolute;
    top: -75px;
  }

  .shorten-it-btn {
    /* width: calc(100% - 46px); */
    width: 160px;
    font-size: 18px;
    margin: 28px 28px 28px 7px;
    padding: 10px 30px;
  }

  .shorten-it-input {
    width: calc(100% - 298px);
    font-size: 18px;
    margin: 28px 7px 28px 28px;
    padding: 10px 30px;
  }

  .advanced-statistic-desktop {
    text-align: center;
  }

  .info-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: start;
  }

  .blue-line {
    width: 60px;
    height: 8px;
    padding: 0;
    margin: 0;
    background-color: hsl(180, 66%, 49%);
  }

  .info-container-div {
    width: 26vw;
    height: auto;
  }

  .info-container-div-1 {
    margin-top: -80px;
  }
  .info-container-div-2 {
    margin-top: 20px;
  }
  .info-container-div-3 {
    margin-top: 120px;
  }

  .info-layout {
    padding-top: 60px;
    align-items: start;
  }
  h3 {
    padding: 0 25px;
  }

  .icon-layout {
    left: 3vw;
  }

  .bg-boost-mobile {
    display: none;
  }

  .bg-boost-desktop {
    display: initial;
    width: 100%;
    height: 100%;
    background-color: hsl(257, 27%, 26%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }

  .bg-boost-layout-div {
    text-align: center;
  }

  .footer-layout {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    color: #fff;
    font-size: 15px;
  }

  .footer-title {
    font-size: 28px;
    padding-top: 20px;
  }

  .column-1 {
    grid-column: 2/3;
  }
  .column-2 {
    grid-column: 5/6;
    padding: 0 15px;
  }
  .column-3 {
    padding: 0 15px;
  }
  .column-4 {
    padding: 0 15px;
  }
  .column-5 {
    grid-column: 10 / 11;
    padding-top: 0;
    display: flex;
    flex-direction: row;
  }

  .column-5 > .link {
    height: 20px;
    width: auto;
    padding: 1vw;
    padding-top: 35px;
  }
}
