body {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.header-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

p {
  padding: 0 25px;
  color: hsl(0, 0%, 75%);
}

.nav-button {
  display: none;
}

.first-img {
  display: none;
}

.first-img-desktop {
  display: initial;
  float: right;
  width: 40%;
  height: 40%;
  min-width: 350px;
  min-height: auto;
}

.get-started-btn,
.shorten-it-btn {
  color: #fff;
  background-color: hsl(180, 66%, 49%);
  border: none;
  border-radius: 35px;
  padding: 15px 35px;
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}
.shorten-it-btn {
  font-size: 20px;
  border-radius: 5px;
  margin: 8px 23px 23px 23px;
  z-index: 100;
}

.shorten-it-input {
  font-size: 20px;
  border-radius: 5px;
  padding: 15px 35px;
  border: none;
  margin: 23px 23px 8px 23px;
  z-index: 100;
}

.shorten-it-input::placeholder {
  font-weight: 600;
  color: hsl(0, 0%, 75%);
}

.shorten-form {
  /* background-color: hsl(257, 27%, 26%); */
  border-radius: 10px;
}

.page-info-part-layout {
  background-color: #f4f4f4;
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/*
.page-info-part-layout-div {
  position: absolute;
  top: -180px;
} */

.info-layout {
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon-layout {
  width: 40px;
  height: 40px;
  background-color: hsl(257, 27%, 26%);
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 60px;
  position: absolute;
  top: -50px;
}

@media only screen and (max-width: 900px) {
  body {
    text-align: center;
  }

  .nav-button {
    display: initial;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .nav-button:hover {
    background-color: hsl(0, 0%, 93%);
    border-radius: 8px;
  }

  .nav-mobile-1 {
    width: 30px;
    height: 4px;
    background-color: hsl(0, 0%, 60%);
  }

  .nav-mobile-2 {
    width: 30px;
    height: 6px;
    background-color: #fff;
  }

  .first-section-mobile {
    padding-bottom: 150px;
  }

  .first-img-desktop {
    display: none;
  }

  .first-img {
    display: initial;
    float: right;
    width: 90%;
    height: 90%;
    padding: 30px 0;
  }

  .main-title {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    padding: 0 25px;
  }

  .shorten-form {
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: hsl(257, 27%, 26%);
  }

  .bg-shorten-mobile {
    width: 70%;
    height: 70%;
    right: 0;
    position: absolute;
    border-top-right-radius: 10px;
  }

  .bg-shorten-desktop {
    display: none;
  }

  .page-info-part-layout-div {
    position: absolute;
    top: -180px;
  }

  .info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info-container-div {
    padding: 0 25px;
  }

  .blue-line {
    display: flex;
    flex-direction: column;
    width: 8px;
    height: 100px;
    background-color: hsl(180, 66%, 49%);
  }

  .bg-boost-layout {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
  }

  .bg-boost-mobile {
    width: 100%;
    height: 100%;
    background-color: hsl(257, 27%, 26%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }
}

@media only screen and (min-width: 901px) {
  .first-section-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
  }

  .first-section-mobile {
    padding: 70px;
  }

  .desktop-p {
    padding: 0;
  }

  .get-started-btn {
    font-size: 18px;
    padding: 10px 25px;
  }

  .bg-shorten-mobile {
    display: none;
  }

  .bg-shorten-desktop {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: -1;
  }

  .shorten-form {
    position: relative;
    width: 100vw;
    width: calc(100vw - 140px);
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: hsl(257, 27%, 26%);
    z-index: 0;
  }

  .page-info-part-layout-div {
    position: absolute;
    top: -75px;
  }

  .shorten-it-btn {
    /* width: calc(100% - 46px); */
    width: 160px;
    font-size: 18px;
    margin: 28px 28px 28px 7px;
    padding: 10px 30px;
  }

  .shorten-it-input {
    width: calc(100% - 298px);
    font-size: 18px;
    margin: 28px 7px 28px 28px;
    padding: 10px 30px;
  }

  .advanced-statistic-desktop {
    text-align: center;
  }

  .info-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .blue-line {
    width: 60px;
    height: 8px;
    padding: 0;
    margin: 0;
    background-color: hsl(180, 66%, 49%);
  }

  .info-container-div {
    width: 25vw;
    height: auto;
  }

  .info-layout {
    padding-top: 60px;
  }
}
